body {
    padding-top: 54px;
  }
  
  @media (min-width: 992px) {
    body {
      padding-top: 56px;
    }
  }
  
  .card {
    height: 100%;
  }

  .conteudo {
    min-height: 400px;
  }

  h1 {
    color: #f6a300;
  }
  
  .btn-primary:hover {
    background-color: #f6a300 !important;
    border-color: #e96d08;
  }

  .navbar {
    font-size: 18px;
  }

  .navbar-light .navbar-nav .nav-link:hover {
    color: #f6a300;
  }

  .logo {
    color:#007bff !important;
    font-weight: bold;
  }

  .card-title {
    color:#007bff !important;
  }

  .card-imagem {
    width: 60%;
  }

  .bg-azul {
    background-color:#1b92a2;
  }

  option {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }