body {
    padding-top: 54px;
  }
  
  @media (min-width: 992px) {
    body {
      padding-top: 56px;
    }
  }
  
  .card {
    height: 100%;
  }

  .conteudo {
    min-height: 400px;
  }

  h1 {
    color: #fd7e14;
  }
  
  .btn-primary:hover {
    background-color: #fd7e14 !important;
    border-color: #db6809;
  }

  .navbar {
    font-size: 18px;
  }